<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

data[i]
<% for(var i=0; i < 1; i++) { %>


<h1>Doctor's Clinic</h1>
<div class="container main">
    <h2 class="head2">Login</h2>



  <!--  <form method="post"><p>Check to <label>
                <input type="checkbox" name="remember2"/> remember me</label>
            <input type="submit" value="Submit"/>
            <input type="text" name="name" required/>
            <input type="text" name="last" required/>.</p></form>
-->


    <form method="post">


    <p> <%= siso %> </p>
    <div class="form-group row">
        <div class="col-xs-6">
            <label class="lab" for="ex1">User Name</label>

            <input class="form-control inp" id="ex1" type="text"                        name="username">
        </div>
        <br> <br> <br> <br> <br>
        <div class="col-xs-6">
            <label class="lab" for="ex2">Password</label>

            <input  class="form-control inp" id="ex2" type="password"                    name="password">
        </div>
    </div>
        <br> <br>
        <input type="submit" class=" btn-warning btn-lg bton" value="Submit"/>



    </form>
    <a href="signUp.ejs"><button type="button" class=" btn-warning btn-lg bton ">Sign Up</button></a>
</div>

<% } %>



</body>
</html>