<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Panel</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <h1>Doctor's Clinic</h1>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Patient Basic Information</h3>
            </div>
            <div class="panel-body">
                <div ><p >Name</p>   </div>
                <img src="" alt=""> <!--pic of the patient -->
            </div>
            <br><br><br>
            <div class="panel-heading">
                <h3 class="panel-title">Medical Information</h3>
            </div>
            <div class="panel-body">
                <p>Last visit</p>
                <p>Diagnose</p>
                <p>Treatment</p>
                <p>Symptoms</p>
                <p class="cls">Bill</p>
                <p class="cls">Total cost</p>
            </div>
            <br><br>
            <a href="login.ejs"><button type="button" class=" btn-warning btn-lg bton ">Logout</button></a>

    </div>

</body>
</html>